.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Align the image to the right */
}

.text1 {
  font-family: 'Manrope', sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 51.91px;
  text-align: left;
}


.text2{
  font-family:'Manrope', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 21.86px;
text-align: left;

}