.light-theme .container-80 {
  border-radius: 160px;
  position: relative;
  width: 260px;
  height: 440px;
}
.light-theme .downloader-la-664358-d-8-f-16-ad-photoroom-1 {
  background: url(../assets/images/downloader_la_66432_b_639_bfca_photoroom_1.png);
  position: relative;
  z-index: 9999;
  width: 260px;
  height: 440px;
}
.light-theme .container-30 {
  border-radius: 160px;
  position: relative;
  width: 260px;
  height: 440px;
}
.light-theme .downloader-la-66432-ca-77591-ephotoroom-1 {
  background: url(../assets/images/downloader_la_66432_ca_77591_ephotoroom_1.png);
  border: 2px solid black;
  position: relative;
  z-index: 9999;
  width: 260px;
  height: 440px;
  margin: 0 auto; /* Add this line to center the image horizontally */
} 
.light-theme .group-73 {
  border-radius: 160px;
  background: #F4B2C6;
  position: relative;
  margin-bottom: 129px;
  display: flex;
  width: 260px;
  height: 440px;
  box-sizing: border-box;
}
.light-theme .container-80 {
  border-radius: 160px;
  position: relative;
  width: 260px;
  height: 440px;
}
.light-theme .group-156 {
  border-radius: 160px;
  background: #FFE293;
  position: relative;
  margin: 129px 24px 0 0;
  display: flex;
  width: 260px;
  height: 440px;
  box-sizing: border-box;
}
.light-theme .container-19 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.light-theme .group-159 {
  position: relative;
  margin: 92px 97.5px 173px 0;
  width: 429px;
  box-sizing: border-box;
}
.light-theme .container-13 {
  margin-top: 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.light-theme .frame-2609247 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 29px;
  display: flex;
  padding: 76px 108px 43px 108px;
  box-sizing: border-box;
}
.light-theme .button-base {
  box-shadow: var(--shadowxs, 0px 1px 2px 0px rgba(16, 24, 40, 0.05));
  border-radius: 8px;
  border: 1px solid var(--purple-base, #6B4EFF);
  background: var(--purple-base, #6B4EFF);
  display: flex;
  padding: 9px 17.7px 9px 17px;
  box-sizing: border-box;
}
.light-theme .actions {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.light-theme .hack-the-future {
  margin-bottom: 46px;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 300;
  font-size: 80px;
  line-height: 1.001;
  color: #000000;
}

.light-theme .hack-the-future-sub-30{
  margin-bottom: 46px;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 800;
  font-size: 80px;
  line-height: 1.001;
  color: #000000;
}

.light-theme .hack-the-future-sub-15{
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 100;
  font-size: 20px;
  color: #000000;
}

.light-theme .container-101 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.light-theme .dmini-globe-2 {
  background: url(../assets/images/dmini_globe_4.png) 50% / cover no-repeat;
  position: absolute;
  right: 147px;
  bottom: 180px;
  width: 28px;
  height: 28px;
}
/* .light-theme .dmini-winner-cup-1 {
  background: url(../assets/images/dmini_winner_cup_1.png) 50% / cover no-repeat;
  transform: rotate(-8.87deg);
  position: absolute;
  top: 60px;
  right: 636px;
  width: 57.7px;
  height: 71.3px;
  z-index: 9999;
  
  left: 65%;
  bottom: 20px;
  transform: translateX(-50%) rotate(-8.87deg);
} */

.light-theme .dmini-winner-cup-1 {
  background: url(../assets/images/dmini_winner_cup_1.png) 50% / cover no-repeat;
  transform: rotate(-8.87deg);
  position: absolute;
  top: 108.8px;
  right: 322.3px;
  width: 57.7px;
  height: 71.3px;
}

.card1{
  background-color: #8638E5;
}